table{
border: 10px ridge gold;
box-shadow:  inset 0px 0px 5px black; 
}
.sal{
    box-shadow:  inset 0px 0px 5px black;
}
.tu{
       box-shadow:  inset 0px 0px 5px black;
       border: none;
}
.las{
     box-shadow:  inset 0px 0px 5px black;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: black;
}
tr:nth-child(even) td:nth-child(even){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: whitesmoke;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: whitesmoke;
}
#lok{
    background-color: red;
}


                    /* NAVIGATION BAR */
     /* THIS IS A NAVIGATION */
     .dev{
        display: flex;
        flex-direction: row-reverse; 
        justify-content: flex-end;
    }
    .ved{
        display: flex;
        list-style-type: none;
        text-decoration: none;
        border: 3px solid rgb(112, 43, 106);
        border-radius: 10px;
        width: fit-content;
        padding: 10px;
        font-size: 30px;
        background-color:grey;
        justify-content: center;
    }
    .dol{
        justify-content: center;
    }
    .bol{
        text-decoration: none;
        align-items: space-between;
        border: none;
        padding: none;
        padding-left: 5px;
        padding-right: 5px;
        color:greenyellow;
    }
    