       /* NAVIGATION BAR  */
.one{
    background-color: darkslategrey;
    width: 100px;
    height: 40px;
}

.nine{
    width: 100%;
}

.ten{
    background:  darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.two{
    width: fit-content;
}

.four{
    list-style-type: none;
    display: inline-block;
}

.five{
    display: inline-block;
    text-decoration: none;
    margin: 0px 0px;
}

.elect{
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    padding: 9px;
    margin: 0px 0px;
}

.twet{
    color: whitesmoke;
    font-size: 15px;
    margin: 10px 0px;
}

.spoty{
    border-radius: 7px;
    padding: 9px;
    background-color: aqua;
    color: whitesmoke;
    border: none;
    width: 70px;
}
.seven{
    list-style-type: none;
    padding: 5px;
    background-color: rgb(243, 237, 237);
    width: 1340px;
}
.eight{
    color: aqua;
    font-size: 15px;
    display: inline-block;
}
.raw{
    color: dimgray;
    font-size: 15px;
    display: inline-block;
}
.eight{
    padding-left: 70px;
}
.six{
    margin: none;
    margin-top: 0px;
}
.fer{
    visibility: hidden;
    display: absolute;
}
   /* BULLS EYE */
.bah{
    border-radius: 100%;
    background-color: red;
    padding: 20px;
    height: 100px;
    width: 100px;
}
.tah{
    background-color: blue;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 20px;
    box-sizing: border-box;
}
.buls{
    background-color: purple;
    border-radius: 100%;
    padding:20px;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
}
.man{
    z-index: -100;
    float: left;
}
@media screen  and (max-width:768px) {
    .spoty{
        visibility: hidden;
        position: absolute;
    }
    .fer{
        visibility: visible;
        position: absolute;
    }
    .four{
        visibility: hidden;
        position: absolute;
    }
}
.ujo{
    background-color: teal;
    width:fit-content;
}
.get{
    list-style-type: none;
    visibility: hidden;
    position:relative;
    margin:0px;
    text-align: center;
}
.ujo:hover ol{
    visibility: visible;
    margin:0px;
}
